.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 25px;
}
  
th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
  
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
  
td {
    position: relative;
    padding-left: 1em;
}
  